<td> <span class="badge badge-inverse"><%=st%></span></td>
<td><a class="btn btn-primary btn-mini trade-button"><strong><div id="<%=st%>b5p"><%=b5p%></div></strong><div id="<%=st%>b5v"><%=b5v%></div></a></td>
<td><a class="btn btn-primary btn-mini trade-button"><strong><div id="<%=st%>b4p"><%=b4p%></div></strong><div id="<%=st%>b4v"><%=b4v%></div></a></td>
<td><a class="btn btn-primary btn-mini trade-button"><strong><div id="<%=st%>b3p"><%=b3p%></div></strong><div id="<%=st%>b3v"><%=b3v%></div></a></td>
<td><a class="btn btn-primary btn-mini trade-button"><strong><div id="<%=st%>b2p"><%=b2p%></div></strong><div id="<%=st%>b2v"><%=b2v%></div></a></td>
<td><a class="btn btn-primary btn-mini trade-button"><strong><div id="<%=st%>b1p"><%=b1p%></div></strong><div id="<%=st%>b1v"><%=b1v%></div></a></td>
<td><a class="btn btn-success btn-mini trade-button"><strong><div id="<%=st%>tp"><%=tp%> </div></strong><div id="<%=st%>tv"><%=tv%></div></a></td>
<td><a class="btn btn-danger btn-mini trade-button"><strong><div id="<%=st%>a1p"><%=a1p%></div></strong><div id="<%=st%>a1v"><%=a1v%></div></a></td>
<td><a class="btn btn-danger btn-mini trade-button"><strong><div id="<%=st%>a2p"><%=a2p%></div></strong><div id="<%=st%>a2v"><%=a2v%></div></a></td>
<td><a class="btn btn-danger btn-mini trade-button"><strong><div id="<%=st%>a3p"><%=a3p%></div></strong><div id="<%=st%>a3v"><%=a3v%></div></a></td>
<td><a class="btn btn-danger btn-mini trade-button"><strong><div id="<%=st%>a4p"><%=a4p%></div></strong><div id="<%=st%>a4v"><%=a4v%></div></a></td>
<td><a class="btn btn-danger btn-mini trade-button"><strong><div id="<%=st%>a5p"><%=a5p%></div></strong><div id="<%=st%>a5v"><%=a5v%></div></a></td>